<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{@blog.description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />

    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="https://plus.google.com/+GuilhermeRodrigues90/posts"/>
    <link rel="publisher" href="https://plus.google.com/+GuilhermeRodrigues90"/>

    <!--Google+ Schema.org meta-->
    <meta itemprop="name" content="{{meta_title}}">
    <meta itemprop="description" content="{{@blog.description}}">
    <meta itemprop="image" content="{{@blog.url}}{{@blog.logo}}">

    <!--Twitter meta-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@gadr90">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    <meta name="twitter:creator" content="@gadr90">

    <!--Facebook meta-->
    <meta property="og:image" content="{{@blog.url}}{{@blog.logo}}"/>
    <meta property="og:site_name" content="{{meta_title}}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:description" content="{{@blog.description}}" />
    {{#if post}}
    {{#post}}
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:url" content="{{url absolute="true"}}"/>
    {{/post}}
    {{else}}
    <meta property="og:title" content="{{meta_title}}"/>
    <meta property="og:url" content="{{@blog.url}}"/>
    {{/if}}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42473058-2', 'gadr.me');
        ga('send', 'pageview');

    </script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
             <section class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</section>
             <section><a href="https://github.com/gadr/mercury-vapor">Mercury Vapor</a> theme by Guilherme Rodrigues</section>
             <section>Forked from Vapor by <a href="http://sethlilly.com/">Seth Lilly</a></section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org"><span class="hidden">Ghost</span></a></section>
        </div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="/assets/js/index.js"></script>

</body>
</html>
